* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;  /* preventing selecting or highlighting from the calcu */
}

body {
    margin: 25px;
    font-family: sans-serif
}

.calculator {
    background-color: black;
    width: 563px;
    height: 1218px;
    border-radius: 50px;
    padding: 20px;
    color: white;
    position: relative;
}

.top-container {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    height: 300px;
}

.value {
    font-size: 130px;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: right;
    margin-right: 20px;
}

.buttons-container {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-row-align: 20px;
    -ms-grid-column-align: 20px;
}

.button {
    height: 110px;
    width: 110px;
    font-size: 45;
    border-radius: 50%;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    transition: filter .3s;   /* to fluidize the filter when clicking */
   
}

.button.function {
    color: black;
    background-color: #a5a5a5;
}

.button.operator {
    background-color: #f1a33c;
}

.button.number-0 {
    width: 250px;
    border-radius: 55px;
    justify-content: flex-start;
    padding-left: 43px;
    grid-column-start: 1;      /* grid-column: 1 / span 2 */
    grid-column-end: 3;
}


.button:active,
.button:focus {
    filter: brightness(120%);
}


.bottom {
    width: 200px;
    height: 5px;
    background-color: white;
    border-radius: 4px;

    /* centering */
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
